# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Secrets
.env
*.env
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-store/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
android/app/build/
ios/build/
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# typescript
*.tsbuildinfo

# misc
coverage/
*.log
*.tmp
